.card--material{
    height: 91vh;
}
body{
    background-color: rgb(243, 241, 241);
}
.text-input--material{
    height: 30px;
    width: 90%;
    font-size: 80px;
    padding: 0 0 8px;
}
.text-input text-input--material{
    width: 90vw;
    font-size: 80px;
}

.input{
    text-align: center;
}
